---
layout: main
---

<main class="home" id="post" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    <div id="grid" class="row flex-grid">
        {% assign stickyposts = paginator.posts | where_exp:"p", "p.sticky" %}
        {% for post in stickyposts %}
            {% include box.html %}
        {% endfor %}
        {% for post in paginator.posts %}            
            {% include box.html %}
        {% endfor %}
    </div>
    {% include pagination.html %}
</main>
