---
layout: main
---

<main class="home" id="post" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    <div id="grid" class="row flex-grid">
        {% assign links = site.links | where_exp:"l", "l.show" %}
        {% for post in links %}
            {% include box.html %}
        {% endfor %}
        {% for post in paginator.posts %}            
            {% include box.html %}
        {% endfor %}
    </div>
    {% include pagination.html %}
</main>
