{% if page.music %}
    <h3>Musica</h3>
    {% for album in page.music %}
        <h4>{{ album.title }}
        {% if album.year %}
            - ({{ album.year }})
        {% endif %}
        </h4>
        {% if album.spotify %}
            <iframe src="https://open.spotify.com/embed/album/{{ album.spotify }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        {% elsif album.soundcloud %}
            <iframe width="100%" height="400" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/{{ album.soundcloud }}&color=%23ff0a16&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=true&visual=false"></iframe>
        {% else %}
            {% capture album_url %}{{ band_base_url }}/{{ album.title | replace: ' ', '_' }}{% endcapture %}
            {% if album.artwork %}
                <img src="{{ album_url | replace: 'video/upload', 'image/upload/c_fill,w_400,h_400'  }}/{{ album.artwork }}"
                    alt="Artwork" />
            {% endif %}
            <p>
                {% for track in album.tracks %}
                    {% capture track_url %}{{ album_url }}/{{ forloop.index }}_{{ track | replace: ' ', '_' }}.{{ album.format | default: 'mp3' }}{% endcapture %}
                    {{ forloop.index }} - <a href="{{ track_url }}">{{ track }}</a></br>   
                {% endfor %}
            </p>
        {% endif %}  
    {% endfor %}
{% endif %}