<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/BlogPosting">
    {% include head.html %}
    <body class="has-push-menu">
        {% include svg-icons.html %}
        {% include header.html %}
        <section class="post">

            <article role="article" id="post" class="post-content" itemprop="articleBody">
                <p itemprop="post-info" class="post-info">
                    {% if page.date %}
                        <svg id="date" class="icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
                        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}" class="date">
                            {% include date.html date=page.date %}
                        </time>
                    {% endif %}
                </p>
                <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
                <p itemprop="description" class="subtitle">{{ page.description }}</p>

                {% capture band_base_url %}https://res.cloudinary.com/bandb/video/upload/{{ page.title | replace: ' ', '_' }}{% endcapture %}

                {% if page.image %}
                    <img src="{{ page.image }}" alt="Imagem de capa" class="post-cover">
                {% endif %}

                {% if page.members %}
                    <h3>Members</h3>
                    <p>
                    {% for member in page.members %}
                    {{ member.name }} - {{ member.instrument }}</br>
                    {% endfor %}
                    </p>
                {% endif %}


                {% if page.music %}
                    <h3>Music</h3>
                    {% for album in page.music %}
                        {% capture album_url %}{{ band_base_url }}/{{ album.title | replace: ' ', '_' }}{% endcapture %}
                        <h4>{{ album.title }}
                        {% if album.year %}
                            - ({{ album.year }})
                        {% endif %}
                        </h4>
                        {% if album.spotify %}
                            <iframe src="https://open.spotify.com/embed/album/{{ album.spotify }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        {% else %}
                            {% if album.artwork %}
                                <img src="{{ album_url | replace: 'video/upload', 'image/upload/c_fill,w_400,h_400'  }}/{{ album.artwork }}"/>
                            {% endif %}
                            <p>
                                {% for track in album.tracks %}
                                    {% capture track_url %}{{ album_url }}/{{ forloop.index }}_{{ track | replace: ' ', '_' }}.{{ album.format | default: 'mp3' }}{% endcapture %}
                                    {{ forloop.index }} - <a href="{{ track_url }}">{{ track }}</a></br>   
                                {% endfor %}
                            </p>
                        {% endif %}  
                    {% endfor %}
                {% endif %}
                {{ content }}
            </article>

            {% include share.html %}
            {% include comments.html %}
            {% include footer.html %}
        </section>
    </body>
</html>
